#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.title-container {
    text-align: center;
}

.default-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#query-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: auto;
}

#query-form textarea {
    min-height: 200px;
}